// Navigation code here
.navigation{
    background: #f4f4f4;
    width: 100%;
    .layout(column wrap, center, center);
    .heading{
        margin-top: 2%;
        font-size: 5rem;
    }
    .links{
        margin: 2% 0;
        width: 50%;
        max-width: 600px;
        .layout(row wrap, space-between, center);
        a{
            font-size: 2rem;
            text-decoration: none;
        }
    }
}